@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var factorial = 1; var mult = 2;
    while (factorial < 1000000) {
        factorial *= mult;
        ++mult;
    }
    --mult;
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
    <p>The first factorial number after 1,000,000 is @mult! = @factorial.</p>
</div>